div.ng-hide-remove,
div.ng-hide-add {
    display: block!important;
}

span.ng-hide-remove,
span.ng-hide-add {
    display: inline-block !important;
}

.slide-in-down.ng-hide-remove {
    -moz-animation: fadeInDown 0.5s;
    -o-animation: fadeInDown 0.5s;
    -webkit-animation: fadeInDown 0.5s;
    animation: fadeInDown 0.5s;
}

.slide-in-up.ng-hide-remove {
    -moz-animation: fadeInUp 0.5s;
    -o-animation: fadeInUp 0.5s;
    -webkit-animation: fadeInUp 0.5s;
    animation: fadeInUp 0.5s;
}

.slide-in-right-big.ng-hide-remove {
    -moz-animation: fadeInRightBig 0.5s;
    -o-animation: fadeInRightBig 0.5s;
    -webkit-animation: fadeInRightBig 0.5s;
    animation: fadeInRightBig 0.5s;
}

.slide-in-left-big.ng-hide-remove {
    -moz-animation: fadeInLeftBig 0.5s;
    -o-animation: fadeInLeftBig 0.5s;
    -webkit-animation: fadeInLeftBig 0.5s;
    animation: fadeInLeftBig 0.5s;
}

.slide-in-right.ng-hide-remove {
    -moz-animation: fadeInRight 0.5s;
    -o-animation: fadeInRight 0.5s;
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

.slide-in-left.ng-hide-remove {
    -moz-animation: fadeInLeft 0.5s;
    -o-animation: fadeInLeft 0.5s;
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}

.slide-out-left.ng-hide-add {
    -moz-animation: fadeOutLeft 0.5s;
    -o-animation: fadeOutLeft 0.5s;
    -webkit-animation: fadeOutLeft 0.5s;
    animation: fadeOutLeft 0.5s;
}
