<section class="row">
    <div class="page-header">
        <h1 data-translate="$SETTINGS"></h1>
    </div>
</section>

<section class="row">
    <div class="col-xs-6 col-md-8">
        <span class="dropdown">
            <button type="button" class="btn btn-warning navbar-btn dropdown-toggle">
                <span data-translate="$CHANGE_THEME"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li data-ng-repeat="themeItem in settings.theme.themes"
                    data-ng-class="{'active': settings.theme.isThemeNameSelected(themeItem.name) }">
                    <a href="" data-ng-click="settings.theme.setTheme(themeItem)" data-ng-bind="themeItem.name"></a>
                </li>
            </ul>
        </span>
        <span class="dropdown">
            <button type="button" class="btn btn-warning navbar-btn dropdown-toggle">
                <span data-translate="$CHANGE_LANGUAGE"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li data-ng-class="{active: translate.use() === 'en_US'}">
                    <a href="" data-ng-click="translate.use('en_US')">english</a>
                </li>
                <li data-ng-class="{active: translate.use() === 'sv_SE'}">
                    <a href="" data-ng-click="translate.use('sv_SE')">svenska</a>
                </li>
            </ul>
        </span>
    </div>
</section>
