<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-click="menu.isCollapsed = !menu.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" data-ui-sref="{{primaryMenu.primaryMenuTree.brand.sref}}" class="navbar-brand"
               data-ng-bind="primaryMenu.primaryMenuTree.brand.name"></a>
        </div>
        <nav class="navbar-collapse" data-ng-class="menu.isMenuExpanded ? 'collapse' : 'in'" role="navigation">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active: state.includes(menuItem.sref)}"
                    data-ng-repeat="menuItem in primaryMenu.primaryMenuTree.menuItems">
                    <a href="" data-ui-sref="{{menuItem.sref}}">
                        <span data-translate="{{menuItem.name}}"></span>
                    </a>
                </li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li data-ng-class="{active: state.includes(primaryMenu.primaryMenuTree.rightMenu.currentOption.sref)}">
              <a href="" data-ui-sref="{{primaryMenu.primaryMenuTree.rightMenu.currentOption.sref}}" data-ng-include="primaryMenu.primaryMenuTree.rightMenu.currentOption.templateUrl">
              </a>
            </li>
          </ul>
        </nav>
    </div>
</nav>
