@footer-height: 40px;

html, body {
    height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -@footer-height;
}

.footer, .push {
    height: @footer-height;
}

.top-margin {
    margin-top: 5px;
}

.stars-container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 100px;
    color: #ffd800;

    .first {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
    }

    .second {
        position: absolute;
        top: 30px;
        left: 10px;
        font-size: 28px;
    }

    .third {
        position: absolute;
        top: 65px;
        left: 0;
        font-size: 38px;
    }
}