<div class="list-group">
    <div data-ng-show="input.selected !== ''" class="slide-in-up">
        <a href="javascript:;" data-ng-click="clearSelected()" class="list-group-item active">
            {{getOptionTitle(input.selected)}}
        </a>
    </div>
    <div data-ng-show="input.selected === ''" class="slide-in-down">
        <a href="javascript:;" data-ng-click="setSelectedOption($index)" class="list-group-item" data-ng-class="{'active': isSelectedOption($index)}" data-ng-repeat="option in input.options">
            {{getOptionTitle(option)}}
        </a>
    </div>
</div>