<section class="page-header">
    <h1 data-translate="$LOGIN"></h1>
</section>

<section class="row">
    <div class="col-xs-6 col-md-8">
        <div data-ng-bind="login.isLoggedIn"></div>
        <form name="loginForm">
            <div class="form-group">
                <label for="username" data-translate="$USERNAME"></label>
                <input class="form-control" type="text" id="username" name="username" ng-model="login.user.name"
                       placeholder="{{translate.instant('$USERNAME')}}" required/>
            </div>
            <div class="form-group">
                <label for="password" data-translate="$PASSWORD"></label>
                <input class="form-control" type="password" id="password" name="password" ng-model="login.user.password"
                       placeholder="{{translate.instant('$PASSWORD')}}" required/>
            </div>
            <div>
                <button class="btn btn-warning" data-translate="$REGISTER" data-ng-click="login.register()"/>
                <button class="btn btn-success pull-right" data-translate="$LOGIN" data-ng-click="login.login()"/>
            </div>
        </form>
    </div>
</section>
